body {
  background-color: #e2e8f0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.header .header_title {
  font-size: 2rem;
  font-weight: 500;
}

.section {
  padding: 2rem 1rem;
}

.cards {
  padding: 1rem 0;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  width: 20rem;
}

.card_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 15rem;
}

.header_image {
  width: 8rem;
  height: 8rem;
  padding: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header_image::before,
.header_image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(217, 70, 239, 1) 100%
  );
  border-radius: 50%;
  z-index: 1;
  animation: backgroundAnimated 3s infinite;
}
.header_image::after {
  filter: blur(1rem);
  height: calc(100% + 0.5rem);
  width: calc(100% + 0.5rem);
}

.header_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background-color: white;
  object-fit: cover;
}

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.header_title .title_main {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.header_title .title_description {
  font-size: 0.75rem;
  font-weight: 500;
}

.body .body_github {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_github .github_link {
  padding: 0.5rem 1rem;
  background-color: #020617;
  color: #e2e8f0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5rem;
}

.github_link .link_icon {
  width: 1.25rem;
  height: 1.25rem;
}

@keyframes backgroundAnimated {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
